<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uwr.edu.pl.aplikacjatreningowa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FBW"></activity>
        <activity android:name=".przykladycwiczen" />
        <activity android:name=".laweczkawykres" />
        <activity android:name=".statystyki" />
        <activity android:name=".wagawykres" />
        <activity android:name=".bmigirls" />
        <activity android:name=".BMIgraph" />
        <activity android:name=".badBmi" />
        <activity android:name=".goodBmi" />
        <activity android:name=".Bmi" />
        <activity android:name=".Opcje" />
        <activity android:name=".Stoper" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>