<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uwr.edu.pl.aplikacjatreningowa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Notatnik"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditeNoteActivity"></activity>
        <activity
            android:name=".Notatnik"
            android:label="@string/title_activity_notetnik"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hantlewykres"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".przysiadywykres"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FBW"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".przykladycwiczen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".laweczkawykres"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".statystyki"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wagawykres"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".bmigirls"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".BMIgraph"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".badBmi"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".goodBmi"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Bmi"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Opcje"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Stoper"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>